<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <div>
            <h3> Title: {{ ad.title }} </h3>
            <p> Content: {{ ad.content }} </p>
			<p> Price: {{ ad.price }} </p>
			<p> Release date: {{ ad.release_date }} </p>
			<p> Is it active (0 - false, 1 - true): {{ ad.is_active }} </p>
			<p> Buyer name (empty if ad is active): {{ ad.buyer_id }} </p>
			<p> Creator id: {{ ad.creator_id }} </p>
        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    </body>
</html>
	
